.fondo {
  background-color: rgb(163, 163, 247);
}

.titulos {
  color: yellow;
}

.titulosCarrito {
  color: rgb(215, 247, 219);
}

.imgProductos {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 1rem;
}

.card {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.colorBoton {
  color: white;
  background-color: #ff00c8;
}

.colorBoton:hover {
  background-color: rgb(87, 0, 128);
  color: white;
}